<ul>
  <h1>Favoritos</h1>
  <li>
      <img src="/src/assets/img/imagen-no-disponible.jpg">
      <p>lorem ipsum lalalalaskafsfa asffasasf</p>
      <app-trash-button ></app-trash-button>
  </li>
  <li>
      <img src="/src/assets/img/imagen-no-disponible.jpg">
      <p>lorem ipsum lalalalaskafsfa asffasasf</p>
      <app-trash-button ></app-trash-button>
    </li>
    <li>
        <img src="/src/assets/img/imagen-no-disponible.jpg">
        <p>lorem ipsum lalalalaskafsfa asffasasf</p>
        <app-trash-button ></app-trash-button>
      </li>
    
</ul>