<app-search (event)="goToSearchView()"></app-search>
<div class="container">
  <div class="sidebar">
    <nav>
        <ul>
          <li><a href="#"> About </a></li>
          <li><a href="#"> Portfolio </a></li>
          <li><a href="#"> Blog </a></li>
          <li><a href="#"> Contact </a></li>
        </ul>
    </nav>
  </div>
  <div class="content">
    <div class="hero" >
      <img [src]="user.avatar_url" >
      <div class="hero-content" >
        <h1>{{user.login}}</h1>
        <h2 *ngIf="!!user.name"> {{user.name}}</h2>
        <h2 *ngIf="!!user.email"> {{user.email}}</h2>
        <h3> Bio </h3>
        <p *ngIf="!!user.bio"> {{user.bio}} </p>
        <a (click)="goToGithubPerfil()" class="action-btn">Perfil de Github</a>
      </div>
    </div>
  </div>
  <div class="footer" >
    <footer>
      <ul>
        <li> <a href=""> {{repos[0].name}} <p>3k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>2k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>5k</p></a> </li>
        <li> <a href=""> <!-- ACA VA UNA imagen en svg --> <p>10k</p></a> </li>
      </ul>
    </footer>
  </div>   
</div>
